extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sThin/_sThin.pug
include ../blocks/sEven/_sEven.pug

block variables
	- let  mainPage= null 
	- let  bg='index.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	//+header()
	+top-nav()
	+headerBlock()
	+sThin()
	+sEven()
	+footer()