mixin sEven(data)
	// start sEven
	+b.sEven#sEven&attributes(attributes)
		+e.container.container
			+e.txt
				| Даже майки
				br
				| из шерсти
				br
				| не колятся
			+e.img
				img(loading="lazy" src="img/@2x/girl.png" alt="")
				+e.bg--left
					img(loading="lazy" src="img/svg/sEven-left.svg" alt="")
				+e.bg--right
					img(loading="lazy" src="img/svg/sEven-right.svg" alt="")
			+e.bot-txt Это 100% сверхтонкая мериносовая шерсть 19,5 микрон

	// end sEven