mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+e.logo(href="/")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				+e.menu-col.col
					+e.menu
						ul
							li: a(href="#") Одежда
							li: a(href="#") Домашний текстиль
							li: a(href="#") Блог
				+e.tel-col.col-auto
					+e.tell(href="tel:88003004050") 8 800 300-40-50
	// end top-nav